
version: '3.8'
services:
  api:
    build:
      context: ./api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: shiptrackr_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shiptrackr_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./sql/seed.sql:/docker-entrypoint-initdb.d/seed.sql


  locust:
    build:
      context: ./locust
    ports:
      - "8089:8089"
    depends_on:
      - api

volumes:
  pgdata:
